.navContainer {
    background-color: #ffffff;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #e3e4e5;
}

.navSubContainer {
    background-color: #ffffff;
    width: 95%;
    max-width: 1440px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.navLogoContainer {
    display: flex;
    align-items: center;
}

.navLogo {
    height: 35px;
    width: auto;
    border-radius: 20px;
    margin-right: 10px;
}

.navLogoTitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: gray;
    margin-right: 10px;
}

.navMenuContainer {
    display: none;
    cursor: pointer;
}

.navMenuSearch {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.suggestionsContainer {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #f1f1f1;
    transform: translate(0px, -7px);
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.suggestionsContainer * {
    cursor: pointer;
    padding: 10px;
}

.suggestionsContainer:hover {
    background-color: #e5e5e5;
}

.suggestionsContainer:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.searchForBox {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #f1f1f1;
    transform: translate(0px, -7px);
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
}

.suggestionBox {
    padding: 1px;
    border-radius: 3px;
    border: 1px solid rgb(0, 100, 0);
}

.suggestionBox:hover {
    pointer-events: none;
}

.goToTop {
    background-color: #118ae6;
    width: fit-content;
    padding: 7px 12px;
    border-radius: 15px;
    font-weight: 600;
    color: white;
    position: fixed;
    right: 10%;
    transform: translate(0px, 85vh);
    z-index: 1;
    display: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgb(183 183 183 / 18%);
}

.goToTop:hover {
    background-color: #1076c4;
    color: rgb(238, 238, 238);
}

.showGoToTop {
    display: block;
    animation: showGoToTopButton 1s ease;
}

/* A CSS animation that is used to show the "Go to top" button. */
@keyframes showGoToTopButton {
    from { opacity: 0;}
    to {opacity: 1;}
}

@media screen and (max-width: 850px) {
    .navMenuContainer {
        display: block;
    }

    .navLogoTitle {
        display: none;
    }
}

@media screen and (max-width: 910px) {
    .suggestionsContainer, .searchForBox {
        max-width: 400px;
    }
}

@media screen and (max-width: 680px) {
    .suggestionsContainer, .searchForBox {
        transform: translate(40px, -7px)
    }
}

@media screen and (max-width: 590px) {
    .suggestionsContainer, .searchForBox {
        max-width: 100%;
        transform: translate(0px, -7px);
    }
}

@media screen and (max-width: 680px) {
    .navMenuSearch {
        transform: translate(-40%, -50%);
    }

    
}

@media screen and (max-width: 435px) {
    .navMenuSearch {
        transform: translate(-25%, -50%);
    }
}

@media screen and (max-width: 380px) {
    .navMenuSearch {
        max-width: 150px;
        transform: translate(0%, -50%);
    }
}

/* Highlight selected post START */
.selectedPost {
    box-shadow: 0px 0px 14px orangered;
}
/* Highlight selected post END */