.leftSideBarContainer {
    background-color: white;
    width: 200px;
    height: 100vh;
    top: 0;
    padding: 10px 20px 50px 20px;
    position: fixed;
    overflow: scroll;
}

.feedsTitle {
    font-size: 0.8rem;
    font-weight: 700;
    color: #808080;
    margin-top: 70px;
}

.feedsContainer {
    margin-top: 20px;
}

.feedItem {
    color: #333333;
    display: flex;
    align-items: center;
    padding: 8px 5px;
}

.feedItem:hover {
    background-color: lightgray;
    border-radius: 3px;
}

.activeFeedItem {
    background-color: #e7e7e7;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 3px solid #ff4500;
}

.subredditImage {
    height: 21px;
    width: auto;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid #ff4500;
}

@media screen and (max-width: 850px) {
    .leftSideBarContainer {
        display: none;
    }
}