.singlePostContainer {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 50px 20px 300px;
    box-shadow: 1px 1px 1px 1px rgb(183 183 183 / 18%);
    max-width: 100%;
    border-radius: 3px;
    text-align: left;
    line-height: 30px;
    display: flex;
    border: 1px solid #cccccc;
    overflow: hidden;
}

.votes {
    background-color: #f2f1f1;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    color: #030303;
    min-width: 35px;
}

.upsVotesArrow {
    transform: rotate(270deg);
    font-size: 1.3rem;
    color: #b6b6b6;
}

.mainPostContent {
    overflow-wrap: anywhere;
    width: 100%;
    background-color: white;
}

.authorSubredditContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.authorSubredditImage {
    height: 21px;
    width: auto;
    border-radius: 10px;
    margin-right: 5px;
}

.subreddit {
    font-size: 0.8rem;
    font-weight: 600;
    margin-right: 5px;
}

.author, .created {
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 5px;
    margin-right: 5px;
}

.title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 10px;
}

.image {
    height: 500px;
    width: 100%;
    object-fit: contain;
}

.video {
    height: 500px;
    width: 100%;
}

.linkContent {
    margin: 0 auto 10px auto;
    width: 95%;
}

.commentSection {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 10px 5px 10px;
    color: #808080;
    width: max-content;
    margin: 0px 0px 10px 10px;
    border-radius: 3px;
}

.commentSection:hover {
    background-color: lightgray;
    cursor: pointer;
}

.commentNumber {
    margin-left: 7px;
    font-size: 0.8rem;
    font-weight: 700;
}

@media screen and (max-width: 850px) {
    .singlePostContainer {
        margin: 20px auto 20px auto;
    }
}

@media only screen and (max-width: 640px) {
    .singlePostContainer {
        max-width: 100vh;
    }
}

@media only screen and (max-width: 500px) {
     .votes {
        display: none;
    }
}