.mainContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 1200px) {
    .mainContainer {
        justify-content: flex-start;
        margin-left: 10%;
    }
}

@media screen and (max-width: 1080px) {
    .mainContainer {
        justify-content: center;
        margin-left: 0;
    }
}