.menuButton {
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.activeMenuButtonTitle {
    color: gray;
    font-size: 0.9rem;
    font-weight: 700;
}

@media screen and (max-width: 780px) {
    .activeMenuButtonTitle {
        display: none;
    }
}